requests
tenacity
tqdm
pandas
python-dotenv
huggingface-hub
tiktoken
openai
numpy<2.0.0
langchain-aws==0.2.15
blingfire
cached_path
git+https://github.com/nicholishen/tooldantic.git
pyyaml
pydantic
datasets
boto3
langchain-core